*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  border: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  color: #4b6373;
}
h1 {
  font-weight: 600;
  font-size: 35px;
}
h2 {
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 1600px) {
  h2 {
    font-size: 22px;
  }
}
@media (max-width: 1366px) {
  h2 {
    font-size: 20px;
  }
}
h3 {
  font-weight: normal;
  font-size: 18px;
}
h4 {
  font-weight: 700;
  font-size: 14px;
}
strong,
b {
  font-weight: 700;
}
a {
  color: inherit;
  text-decoration: none;
}
.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 12px 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  background-color: #f8a51b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #f9af34;
}
.btn:active {
  background-color: #f29a07;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 8px;
  border-radius: 3px;
  overflow: visible;
  transition: all 0.3s ease;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #f8a51b;
  outline: none;
}
.calc-wrap {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.calc-wrap__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  background-color: #34425a;
  text-align: center;
}
.calc-wrap__main {
  padding: 11px 15px 0 15px;
}
.calc-wrap__footer {
  padding: 11px 12px;
  display: flex;
  justify-content: center;
  background-color: #FFF;
}
.calc__sep {
  background-color: #d5e0e8;
  height: 1px;
  margin: 10px 0;
}
.calc__totals {
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  background-color: #f0f4f7;
}
.calc__totals .calc-row__right {
  font-weight: bold;
}
.calc .t-green {
  color: #14b014;
}
.calc .t-red {
  color: #db2828;
}
.calc-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 0;
  min-height: 30px;
  line-height: 1.1;
}
.calc-row__left {
  width: 120px;
  font-weight: bold;
}
.calc-row__center {
  width: 35px;
  text-align: right;
  color: #7e9aad;
  font-size: 11px;
}
.calc-row__right {
  text-align: right;
  width: 120px;
}
.calc-row__right input {
  width: 68px;
  text-align: right;
}
.modal {
  display: flex;
  align-items: stretch;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 68px);
  background: #FFF;
  padding: 9px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.modal.visible {
  visibility: visible;
  opacity: 1;
}
.modal__body {
  position: relative;
  width: 100%;
  background: url("../img/modal-bg.jpg") center bottom no-repeat #3e4e68;
  border-radius: 5px;
  text-align: center;
  color: #FFF;
  padding: 12px 20px;
}
.modal__title {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.4;
}
.modal__title mark {
  background-color: transparent;
  color: #f8a51b;
}
.modal__subtitle {
  display: block;
  margin-top: 2px;
  font-size: 15px;
}
.modal__footer {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
}
.modal__footer p {
  margin: 10px 0 13px 0;
  font-size: 15px;
  line-height: 1.3;
}
.modal__footer mark {
  background-color: transparent;
  color: #f8a51b;
}
.modal__footer .btn {
  margin-bottom: 12px;
}
.modal__footer .remind-link {
  font-size: 12px;
  color: #a2b5d5;
  border-bottom: 1px solid #a2b5d5;
  transition: all 0.3s ease;
}
.modal__footer .remind-link:hover {
  color: #FFF;
  border-color: #FFF;
}

/*# sourceMappingURL=main.css.map */